<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/adminStyle.css" />
    <link rel="shortcut icon" href="../img/Logo_Byte.png" type="image/png" />
    <title>Byte Zone</title>
  </head>
  <body>
    <main class="parentAll">
      <aside class="navigate">
        <h1>ByteZone</h1>
        <section class="nav">
          <ul>
            <li><a href="#dashboard">Dashboard</a></li>
            <li><a href="#products">Products</a></li>
            <li>Users</li>
            <li>Contact Requests</li>
            <li>Feedbacks</li>
          </ul>
          <div class="line"></div>
          <ul>
            <li>Sales</li>
            <li>Order-Lists</li>
            <li>Product Stocks</li>
            <li>Log Out</li>
          </ul>
        </section>
      </aside>
      <main class="content">
        <nav class="top">
          <section class="partNav">
            <button>Notifications</button>
            <h4>User</h4>
            <% if (locals.name) { %>
            <div class="cardSmallNav">
              <p id="name"><%= name.userName %></p>
              <p id="role">ADMIN</p>
            </div>
            <% } else { %>
            <div class="cardSmallNav">
              <p id="name">No Name</p>
              <p id="role">ADMIN</p>
            </div>
            <% } %>
          </section>
        </nav>
        <main id="dashboard">
          <h2>Dashboard</h2>
          <section class="dashboard-part">
            <div class="smallCardDash">
              <div class="smallCardDash-img">
                <img src="../img/Icon.svg" alt="user" />
              </div>
              <div class="smallCardDash-content">
                <h4 class="title">Total User</h4>
                <br />
                <p><%= userCount %></p>
              </div>
            </div>
            <div class="smallCardDash">
              <div class="smallCardDash-img">
                <img src="../img/Icon1.svg" alt="user" />
              </div>
              <div class="smallCardDash-content">
                <h4 class="title">Total Sales</h4>
                <br />
                <p><%= itemsSold %></p>
              </div>
            </div>
            <div class="smallCardDash">
              <div class="smallCardDash-img">
                <img src="../img/Icon2.svg" alt="user" />
              </div>
              <div class="smallCardDash-content">
                <h4 class="title">Total Amount</h4>
                <br />
                <p>Rupees <%= salesAmount %></p>
              </div>
            </div>
            <div class="smallCardDash">
              <div class="smallCardDash-img">
                <img src="../img/Icon3.svg" alt="user" />
              </div>
              <div class="smallCardDash-content">
                <h4 class="title">Order Count</h4>
                <br />
                <p><%= totalOrders %></p>
              </div>
            </div>
          </section>
        </main>
        <div class="line"></div>
        <main id="product">
          <nav class="navigateType">
            <% allItems.forEach(element => { %>
             <h4 onclick="get(this)" id= <%= element.type + "Head" %> > <%= element.type.toUpperCase() %> </h4>
            <% }) %>
          </nav>
          <div class="line"></div>
          <main class="store-all">
            <% allItems.forEach(itemType => { %>
              <div id= <%= itemType.type %> >
                <div class="items">
                  <div class="itemsTitle">
                    <div class="imgDetailItems">
                      <h4>Img</h4>
                    </div>
                    <div class="detailsTitle">
                      <h4>Item Name</h4>
                      <h4>Price</h4>
                      <h4>Quantity</h4>
                    </div>
                  </div>
                  <% itemType.item.forEach(element => { %>
                    <div class="container">
                      <div class="banner-image">
                        <img src="/img/image/<%= element.image %>" alt="<%= element.productName %>">
                       </div>
                       <div class="details">
                         <p> <%= element.productName %> </p>
                         <p> Rupees <%= element.price %> </p>
                         <p> <%= element.qty %> </p>
                      </div>
                    </div>
                  <% }) %>
                </div>
              </div>
            <% }) %>
          </main>
        </main>
        
      </main>
    </main>
    <%- include("./partials/storeSwitchItemType") %>
  </body>
</html>
