<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="ByteZone: Your one-stop shop for all your computing needs. Discover a wide range of desktops, laptops, and accessories at competitive prices. Find the perfect tech for work, play, and everything in between.">
    <meta name="keywords" content="desktops, laptops, computers, accessories, electronics, gaming, business, online shopping, tech deals, bytezone">
    <link rel="stylesheet" href="../css/styleSingleProduct.css" />
    <link rel="shortcut icon" href="../img/Logo_Byte.png" type="image/x-icon" />
    <title>Buy Product <%= name %> </title>
  </head>
  <%- include('./partials/tracker') %>
  <body>
    <nav class="navbar">
      <a href="/store"> <img loading="lazy" src="../img/nav_left.svg" alt=""> Store</a>
    </nav>
    <main class="item-card">
      <div class="img">
        <img loading="lazy" src="/img/image/<%= image %>" alt=<%= name %>>
      </div>
        <div class="text-section">
          <h2> <%= name %> </h2>
          <ul>
            <li><h4>Price : </h4><p class="price">Rupees <%= price %></p></li> 
          </ul>   
          <form action= <%= `/buy?item=${id}&type=${type}` %> method="post">
            <label for="quantity">Quantity : </label>
            <input type="number" name="quantity" id="quantity" min="1" max="10" value="1"><br>
            <button class="buyButton" type="submit">Buy</button>
          </form>
        </div>
      </main>
      <main class="userDetail item-card">
        <ul>
          <li><h4>Address : </h4><p><%= address %></p></li> 
          <li><h4>Contact : </h4><p><%= contact %></p></li> 
        </ul> 
      </main>
      <script>
        var priceElem = document.getElementsByClassName("price")[0];
        var qty = document.getElementById("quantity");
        
        var price = Number(priceElem.innerHTML.split("Rupees ")[1]);

        qty.addEventListener("click", ()=>{
          priceElem.innerHTML = `Rupees ${price * qty.value}`
        })

      </script>
      <%- include("./partials/scripts") %>
  </body>
</html>
