<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/styleSingleProduct.css" />
    <link rel="shortcut icon" href="../img/Logo_Byte.png" type="image/x-icon" />
    <title>Product <%= name %> </title>
  </head>
  <body>
    <nav class="navbar">
      <a href="/store"> <img src="../img/nav_left.svg" alt=""> Store</a>
    </nav>
    <main class="item-card">
      <div class="img">
        <img src=<%= image %> alt=<%= name %>>
      </div>
        <div class="text-section">
          <h2> <%= name %> </h2>
          <ul>
            <li><h4>Category : </h4><p><%= category %></p></li>
            <li><h4>Price : </h4><p>Rupees <%= price %></p></li> 
          </ul> 
          <% if (locals.specification) { %>
            <ul>
              <li><h4>Processor : </h4><p><%= specification.processor %></p></li>
              <li><h4>RAM : </h4><p><%= specification.ram %></p></li>
              <li><h4>Storage : </h4><p><%= specification.storage %></p></li>
              <li><h4>Battery : </h4><p><%= specification.battery %></p></li>
              <li><h4>Graphics : </h4><p><%= specification.graphicCard %></p></li>
            </ul>
          <% } %>
          <% if (locals.description) { %>
            <ul>
              <li><h4>Description: </h4><p><%= description %></p></li>
            </ul> 
          <% } %>
          <section><div class="buy">
              <a href= <%=`/buy?item=${id}&type=${type}` %>>Buy Now</a>
            </div>
            <div class="addToCart buy">
              <a href= <%=`/buy/addToCart?item=${id}&type=${type}` %>>Add To Cart</a>
            </div>
          </section>
        </div>
    </main>
  </body>
</html>
