<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="shortcut icon" href="../img/Logo_Byte.png" type="image/png" />
    <title>Byte Zone Store</title>
  </head>
  <body>
    <%- include('./partials/navbar') %>

    <nav class="navigateType">
      <div class="line"></div>
      <% list.forEach(element => { %>
       <h4 onclick="get(this)" id= <%= element.type + "Head" %> > <%= element.type.toUpperCase() %> </h4>
      <% }) %>
    </nav>
    <main class="store-all">
      <% list.forEach(itemType => { %>
        
        <div id= <%= itemType.type %> >
          <div class="line"></div>
          <div class="items">
            <% itemType.item.forEach(element => { %>
              <% if (element.qty > 0) { %>
                <a class="container" href=<%= `/store/singleProduct?item=${element.id}&type=${itemType.type}` %>>
                  <div class="wrapper">
                    <div class="banner-image">
                      <img src="/img/image/<%= element.image %>" alt="<%= element.productName %>">
                    </div>
                  </div>
                  <h4><%= element.productName %></h4>
                </a>
              <% } %>
            <% }) %>
          </div>
        </div>
      
      <% }) %>
    </main>
    <%- include('./partials/footer') %>
    <%- include("./partials/scripts") %>
    <%- include("./partials/storeSwitchItemType") %>
  </body>
</html>
